@import '../../../../base/index.scss';

// block
.mobile-navbar{
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid $grey-color-5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $spacing-4;
    background-color: $grey-color-1;

    @include smallLaptops{ display: none; }

    // elements
    &__logo{ 
        height: calc((2px * 3) + (4 * #{$spacing-1}));

        &-link{-webkit-tap-highlight-color: rgba(255, 255, 255, 0);}
    }

    &__image{ height: 100%; }

    &__menu-icon{
        /* background-color: blue; */
        width: 20px;
        height: calc((2px * 3) + (#{$spacing-1} * 4));
        position: relative;

        &_show-close{
            .mobile-navbar__hamburger-top{
                transform: rotate(45deg);
                top: 48%; 
            }
            .mobile-navbar__hamburger-middle{ display: none; }
            .mobile-navbar__hamburger-bottom{
                transform: rotate(-45deg);
                top: 48%;
            }
        }
    }

    &__hamburger{
        display: block;
        position: absolute;
        width: 100%; 
        height: 2px;
        border-radius: $border-radius-sm;
        background-color: $grey-color-11;
        margin: $spacing-1 0;
        transition: all 0.5s;

        &-top{ top: 18%; }
        &-middle{ top: 48%; }
        &-bottom{ top: 78%; }
    }
}

// block
.desktop-navbar{ 
    display: none; 

    @include smallLaptops{
        box-sizing: border-box;
        top: 0;
        left: 270px;
        height: 70px;
        width: calc(100% - 270px);
        position: fixed;
        z-index: 30;
        display: block;
        box-shadow: $default-box-shadow;
        background-color: $grey-color-1;
    }

    @include largeLaptops{ left: 300px; width: calc(100% - 300px); }

    &__list-holder{
        @include smallLaptops{
            list-style-type: none;
            padding: 0;
            margin: 0;
            height: 100%;
            display: flex;
            align-items: center;
        }

        &-header{
            @include smallLaptops{ 
                margin: 0 $spacing-4; font-weight: $light-font-weight;
                font-size: $font-size-4;
            }

            @include largeLaptops{ margin: 0 $spacing-6; }
        }
    }

    &__list{
        @include smallLaptops{ height: 100%; }
    }

    &__link{
        @include smallLaptops{
            display: inline-block;
            text-decoration: none;
            height: 100%;
            display: flex;
            align-items: center;
            position: relative;
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            padding: 0 $spacing-4;
        }

        @include largeLaptops{ padding: 0 $spacing-6; }

        &-text{
            @include smallLaptops{
                font-size: $font-size-2;
                color: $grey-color-8; 
                line-height: 16px;
                font-weight: $light-font-weight;
            } 
        }

        &_active{
            @include smallLaptops{
                border-bottom: 3px solid $accent-color-blue;
            }

            .desktop-navbar__link-text{
                @include smallLaptops{ color: $accent-color-blue; }
            }
        }
    }
}