@import '../../../../base/index.scss';

.sidebar{
    position: fixed;
    z-index: 50;
    top: 0;
    height: 100%;
    width: 270px;
    transition: all .5s;
    box-shadow: $default-box-shadow;
    background-color: $grey-color-1;

    @include largeLaptops{ width: 300px; }

    &_close{ 
        left: -270px;

        @include smallLaptops{ left: 0; }
    }
    &_open{ left: 0; }

    &__top{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        background-color: transparent;
        padding-top: $spacing-3;

        @include smallLaptops{
            padding: 0;
            height: 70px;
            box-shadow: $default-box-shadow;
            justify-content: flex-start;
        }

        &-logo{ 
            height: 20px;
            @include smallLaptops{
                margin-left: $spacing-7;
            }

            @include largeLaptops{ height: 24px; }
        }
        &-image{ height: 100%; }
    }

    &__user{
        position: absolute;
        top: 50px;
        height: 80px;
        width: 100%;
        /* background-color: blue; */
        display: flex;
        align-items: center;


        @include smallLaptops{
            top: 70px; height: 100px; 
            display: block;
        }
    }

    &__image-text-pair{
        display: flex;
        /* background-color: black; */
        margin-left: $spacing-6;
        width: 100%;
        display: flex;
        align-items: center;

        @include smallLaptops{
            align-items: flex-start;
            margin-top: $spacing-6;
            margin-left: $spacing-7;
        }
    }

    &__user-image{ height: 40px;  }

    &__user-text{
        font-size: $font-size-2;
        font-weight: $light-font-weight;
        color: $grey-color-8;
        margin-left: $spacing-4;

        @include smallLaptops{ margin-top: $spacing-1; }
    }

    &__body{
        position: absolute;
        top: calc(50px + 80px);
        height: calc(100% - 50px + 80px);
        width: 100%;
        padding-top: $spacing-6;
        overflow-y: auto;
        // background-color: orange; 

        @include smallLaptops{ 
            top: calc(70px + 100px); height: calc(100% - 70px + 100px); 
            padding-top: 0; 
        }
    }

    &__list{
        display: inline-block;
        // background-color: green;
        // width: 100%;
        padding: 0;
        height: 60px;

        @include smallLaptops{ height: 75px; }

        &-holder{
            list-style-type: none;
            padding: 0;
        }
    }

    &__link{
        text-decoration: none;
        // width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

        &_active{ 
            border-left: 5px solid $primary-color;

            .sidebar__icon-text-pair{ 
                margin-left: calc(#{$spacing-6} - 5px);

                @include smallLaptops{ margin-left: calc(#{$spacing-7} - 5px); }
            }

            .sidebar__icon{ color: $grey-color-11; }

            .sidebar__text{
                font-size: $font-size-3;
                line-height: 19px;
                font-weight: $normal-font-weight;
                color: $grey-color-11;
            }
        }
    }

    &__list-badge{
        font-size: $font-size-1;
        background-color: $accent-color-red;
        position: absolute;
        top: 15%;
        right: -23%;
        padding: $spacing-1 $spacing-2;
        border-radius: 50%;
        color: $grey-color-1;
        border: 1px solid $grey-color-1;
    }

    &__icon{ 
        display: block; 
        color: $grey-color-7; 
        width: 25px;
        margin: 0;

        &-text-pair{
            width: 100%;
            padding: 0;
            margin-left: $spacing-6;
            font-weight: $light-font-weight;
            display: flex;
            align-items: baseline;

            @include smallLaptops{ margin-left: $spacing-7; }
        }

        &_footer{ color: $grey-color-9; }
    }

    &__text{ 
        display: block;
        margin: 0; 
        font-size: $font-size-2;
        color: $grey-color-9; 
        margin-left: $spacing-3;
        line-height: 17px;
        letter-spacing: $tight-letter-spacing;
    }

    &__list-divider{
        width: 100px;
        background-color: $grey-color-6;
        border: 0.1px solid $grey-color-6;
        height: 0.5px;
        margin: 0;
    }

    &__sub-list-holder{
        list-style-type: none;
        /* background-color: orange; */
        margin-left: $spacing-6;
        padding: 0;

        @include smallLaptops{ display: none }
    }

    &__sub-list{
        /* background-color: green; */
        width: 100%;
        padding: 0;
        height: 40px;
    }

    &__sub-link{
        text-decoration: none;
        /* background-color: green; */
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

        &-text{ 
            display: block; 
            font-size: $font-size-2;
            color: $grey-color-8; 
            margin-left: $spacing-6;
            line-height: 16px;
            font-weight: $light-font-weight;
            letter-spacing: $tight-letter-spacing;
        }

        &_active{ 
            border-left: 3px solid $accent-color-blue; 

            .sidebar__sub-link-text{
                color: $accent-color-blue;
                margin-left: calc(#{$spacing-6} - 5px);
            }
        }
    }

    &__signout{
        position: absolute;
        bottom: 0%;
        height: 80px;
        width: 100%;
        background-color: $grey-color-2;
        display: flex;
        align-items: center;

        @include smallLaptops{ height: 70px; }
    }
    
} 